table{
    border-spacing: 0;
    width: 100%;

    tr{

        &:first-child{
            th{
                padding: 16px 16px 20px 16px;
                border-bottom: 2px solid tomato;
                text-align: left;
                cursor: pointer;

                &:last-child{
                    text-align: right;
                }

            }
        }
        &:nth-child(even){
            background-color: lighten(tomato,30%);
        }

        td{
            padding: 20px 16px;
            font-weight: 700;
            text-align: left;;

            &:last-child{
                text-align: right;;
            }
        }
    }
}