@import '../../base/scss/styles.scss';

button{
    background: $primary-color;
    padding: 1rem 2rem;
    color: white;
    border:1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    

    &:hover, &:focus{
        background:transparent;
        color: tomato;
        border-color: tomato;
    }
}